[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"
xlsxwriter = "*"
bs4 = "*"
webdriver-manager = "*"
packaging = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = ">=3.8"
